<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundles</key>
	<array>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>isDependency</key>
			<true/>
			<key>path</key>
			<string>Bundles/Ada.tmbundle</string>
			<key>updated</key>
			<date>2015-04-27T05:51:30Z</date>
			<key>uuid</key>
			<string>46758957-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>isDependency</key>
			<true/>
			<key>path</key>
			<string>Bundles/ANTLR.tmbundle</string>
			<key>updated</key>
			<date>2018-04-17T03:53:30Z</date>
			<key>uuid</key>
			<string>7F43D670-A808-4D6E-BDE7-8CD71C2396EC</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/Apache.tmbundle</string>
			<key>updated</key>
			<date>2016-01-03T22:04:51Z</date>
			<key>uuid</key>
			<string>D4FB34BC-80F3-11D9-9D53-00039398C572</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>isDependency</key>
			<true/>
			<key>path</key>
			<string>Bundles/AppleScript.tmbundle</string>
			<key>updated</key>
			<date>2019-09-03T21:15:57Z</date>
			<key>uuid</key>
			<string>75DD2785-07CA-46DB-A1FE-C3773484A2D9</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/Arduino.tmbundle</string>
			<key>updated</key>
			<date>2014-02-09T20:49:56Z</date>
			<key>uuid</key>
			<string>756D4112-6F27-4633-A716-66EA39794282</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/ASP.tmbundle</string>
			<key>updated</key>
			<date>2013-08-16T09:50:41Z</date>
			<key>uuid</key>
			<string>344D329E-6B21-11D9-B355-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Other</string>
			<key>path</key>
			<string>Bundles/Bundle Development.tmbundle</string>
			<key>updated</key>
			<date>2017-07-12T21:37:01Z</date>
			<key>uuid</key>
			<string>679EFB46-5368-47E5-85BA-DEF72709A471</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Other</string>
			<key>path</key>
			<string>Bundles/Bundle Support.tmbundle</string>
			<key>updated</key>
			<date>2020-03-16T12:16:09Z</date>
			<key>uuid</key>
			<string>0BB1F01A-4F0A-475A-ACDD-0F5578F2EFC3</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/C.tmbundle</string>
			<key>updated</key>
			<date>2021-01-09T17:59:15Z</date>
			<key>uuid</key>
			<string>4675A940-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/C#.tmbundle</string>
			<key>updated</key>
			<date>2013-12-27T02:30:51Z</date>
			<key>uuid</key>
			<string>66623882-73FB-11D9-85C6-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Build</string>
			<key>isDependency</key>
			<true/>
			<key>path</key>
			<string>Bundles/CMake.tmbundle</string>
			<key>updated</key>
			<date>2015-11-30T03:07:04Z</date>
			<key>uuid</key>
			<string>766FC6D3-539E-4992-BB95-654636D5F990</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>isDependency</key>
			<true/>
			<key>path</key>
			<string>Bundles/CoffeeScript.tmbundle</string>
			<key>updated</key>
			<date>2016-08-22T07:18:01Z</date>
			<key>uuid</key>
			<string>A46E4382-F1AC-405B-8F22-65FF470F34D7</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/Cron.tmbundle</string>
			<key>updated</key>
			<date>2016-08-15T09:20:02Z</date>
			<key>uuid</key>
			<string>7A8214CC-4D64-492C-91A5-F86C666C26B8</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/CSS.tmbundle</string>
			<key>updated</key>
			<date>2017-04-22T07:16:17Z</date>
			<key>uuid</key>
			<string>4675F24E-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Other</string>
			<key>path</key>
			<string>Bundles/Diff.tmbundle</string>
			<key>updated</key>
			<date>2017-01-09T03:28:07Z</date>
			<key>uuid</key>
			<string>C2D2BFF9-708D-11D9-BD09-0011242E4184</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Build</string>
			<key>path</key>
			<string>Bundles/Docker.tmbundle</string>
			<key>updated</key>
			<date>2017-12-06T19:52:24Z</date>
			<key>uuid</key>
			<string>8B9DDBAF-E65C-4E12-FFA7-467D4AA535B1</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/Elixir.tmbundle</string>
			<key>updated</key>
			<date>2018-08-28T14:44:00Z</date>
			<key>uuid</key>
			<string>E65BAFA0-39BA-458F-8D85-ECE6BF9EDF69</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Other</string>
			<key>path</key>
			<string>Bundles/Gist.tmbundle</string>
			<key>updated</key>
			<date>2014-10-17T23:11:59Z</date>
			<key>uuid</key>
			<string>60574957-44FF-4C5E-ADEE-9FF7AD7ECEF4</string>
		</dict>
		<dict>
			<key>category</key>
			<string>SCM</string>
			<key>path</key>
			<string>Bundles/Git.tmbundle</string>
			<key>updated</key>
			<date>2018-12-13T16:43:38Z</date>
			<key>uuid</key>
			<string>EADD4718-EE11-4ABF-A7E6-13351FB3799D</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/Go.tmbundle</string>
			<key>updated</key>
			<date>2018-10-07T23:32:03Z</date>
			<key>uuid</key>
			<string>9A94FED7-9430-410F-9C6A-5B9D48A89180</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/Graphviz.tmbundle</string>
			<key>updated</key>
			<date>2015-06-08T03:24:16Z</date>
			<key>uuid</key>
			<string>344D1644-6B21-11D9-B355-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/Groovy.tmbundle</string>
			<key>updated</key>
			<date>2014-08-19T22:28:30Z</date>
			<key>uuid</key>
			<string>D9D34536-A9FC-4DC2-8AF4-30D1ACC4B5F4</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>isDependency</key>
			<true/>
			<key>path</key>
			<string>Bundles/Haskell.tmbundle</string>
			<key>updated</key>
			<date>2017-07-31T03:27:42Z</date>
			<key>uuid</key>
			<string>118557A4-4FEF-406D-A68E-BD191D9CBC83</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/HTML.tmbundle</string>
			<key>updated</key>
			<date>2019-01-28T05:19:58Z</date>
			<key>uuid</key>
			<string>4676FC6D-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Other</string>
			<key>path</key>
			<string>Bundles/Hyperlink Helper.tmbundle</string>
			<key>updated</key>
			<date>2018-07-14T03:53:17Z</date>
			<key>uuid</key>
			<string>7592B521-FC5E-4D69-A6DD-5A0DD7529CB4</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/Ini.tmbundle</string>
			<key>updated</key>
			<date>2013-07-02T03:40:11Z</date>
			<key>uuid</key>
			<string>77B12BEB-8A90-11D9-BAA4-000A9584EC8C</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/Installer.tmbundle</string>
			<key>updated</key>
			<date>2011-11-29T10:42:08Z</date>
			<key>uuid</key>
			<string>0A5DEA4F-3A77-4CA5-9319-C8F885127572</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>isDependency</key>
			<true/>
			<key>path</key>
			<string>Bundles/Java.tmbundle</string>
			<key>updated</key>
			<date>2020-07-14T05:37:27Z</date>
			<key>uuid</key>
			<string>4677FEB2-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>isDependency</key>
			<true/>
			<key>path</key>
			<string>Bundles/JavaDoc.tmbundle</string>
			<key>updated</key>
			<date>2012-12-01T01:11:24Z</date>
			<key>uuid</key>
			<string>D0C00F56-0B8D-4972-B958-A82E93F95581</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/JavaScript.tmbundle</string>
			<key>updated</key>
			<date>2017-08-04T08:09:49Z</date>
			<key>uuid</key>
			<string>AAB4FD74-73F9-11D9-B89A-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/JavaScript jQuery.tmbundle</string>
			<key>updated</key>
			<date>2013-03-28T18:46:28Z</date>
			<key>uuid</key>
			<string>DA18BD22-6C7A-4D77-9100-4511229558D9</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/JSON.tmbundle</string>
			<key>updated</key>
			<date>2016-08-08T04:08:46Z</date>
			<key>uuid</key>
			<string>8BB0DBAF-E65C-4E14-A6A7-467D4AA535E0</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>isDependency</key>
			<true/>
			<key>path</key>
			<string>Bundles/LaTeX.tmbundle</string>
			<key>updated</key>
			<date>2019-02-09T18:52:42Z</date>
			<key>uuid</key>
			<string>46788DCE-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Other</string>
			<key>path</key>
			<string>Bundles/Licenses.tmbundle</string>
			<key>updated</key>
			<date>2014-07-20T22:20:55Z</date>
			<key>uuid</key>
			<string>752DC2FC-D3F0-4DA0-A340-82114D999280</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/Lua.tmbundle</string>
			<key>updated</key>
			<date>2018-06-16T16:40:35Z</date>
			<key>uuid</key>
			<string>5217EA86-3153-4568-B5FD-05917BCE46B3</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Other</string>
			<key>path</key>
			<string>Bundles/Mail.tmbundle</string>
			<key>updated</key>
			<date>2014-06-18T08:57:25Z</date>
			<key>uuid</key>
			<string>385A8908-0733-408E-AFA5-9576D2E3A16B</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Build</string>
			<key>path</key>
			<string>Bundles/Make.tmbundle</string>
			<key>updated</key>
			<date>2019-07-16T09:21:27Z</date>
			<key>uuid</key>
			<string>4679297D-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/Man Pages.tmbundle</string>
			<key>updated</key>
			<date>2016-08-19T05:39:24Z</date>
			<key>uuid</key>
			<string>69766802-226D-4D14-9B7C-CC8E16455CFD</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/Markdown.tmbundle</string>
			<key>updated</key>
			<date>2020-07-14T04:49:24Z</date>
			<key>uuid</key>
			<string>D99E8C0C-792F-11D9-A212-000D93B3A10E</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/Markdown (GitHub).tmbundle</string>
			<key>updated</key>
			<date>2017-05-15T11:58:08Z</date>
			<key>uuid</key>
			<string>A9CF0E77-E848-417C-90F4-77E1231FF1B9</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Other</string>
			<key>path</key>
			<string>Bundles/Math.tmbundle</string>
			<key>updated</key>
			<date>2018-08-05T21:39:17Z</date>
			<key>uuid</key>
			<string>8A9DDCA2-77E8-11D9-B5A8-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/Matlab.tmbundle</string>
			<key>updated</key>
			<date>2015-12-06T08:49:01Z</date>
			<key>uuid</key>
			<string>AF26E7BD-72FF-11D9-B408-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>SCM</string>
			<key>path</key>
			<string>Bundles/Mercurial.tmbundle</string>
			<key>updated</key>
			<date>2018-02-21T15:48:05Z</date>
			<key>uuid</key>
			<string>162DCB4D-4227-11DA-A523-000D93C89990</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/Objective-C.tmbundle</string>
			<key>updated</key>
			<date>2020-05-05T23:34:39Z</date>
			<key>uuid</key>
			<string>4679484F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>isDependency</key>
			<true/>
			<key>path</key>
			<string>Bundles/OCaml.tmbundle</string>
			<key>updated</key>
			<date>2015-05-09T05:51:08Z</date>
			<key>uuid</key>
			<string>F80D3822-6EE8-11D9-BF2D-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/Perl.tmbundle</string>
			<key>updated</key>
			<date>2019-12-26T22:50:41Z</date>
			<key>uuid</key>
			<string>4679B572-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/PHP.tmbundle</string>
			<key>updated</key>
			<date>2018-03-27T01:30:30Z</date>
			<key>uuid</key>
			<string>467A1966-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>isDependency</key>
			<true/>
			<key>path</key>
			<string>Bundles/Postscript.tmbundle</string>
			<key>updated</key>
			<date>2011-11-21T08:18:46Z</date>
			<key>uuid</key>
			<string>73C53C31-8AFA-4369-A92F-E5D6904EF628</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>isDependency</key>
			<true/>
			<key>path</key>
			<string>Bundles/Prolog.tmbundle</string>
			<key>updated</key>
			<date>2014-06-18T08:57:27Z</date>
			<key>uuid</key>
			<string>101B21C6-132C-4811-BDCF-2B028860F681</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/Property List.tmbundle</string>
			<key>updated</key>
			<date>2020-07-14T06:44:03Z</date>
			<key>uuid</key>
			<string>467A3CB0-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/Puppet.tmbundle</string>
			<key>updated</key>
			<date>2013-08-22T05:18:48Z</date>
			<key>uuid</key>
			<string>2DB168AA-8A4D-458B-B6DE-AFC8E60F845E</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/Python.tmbundle</string>
			<key>updated</key>
			<date>2021-01-09T17:02:39Z</date>
			<key>uuid</key>
			<string>E3BADC20-6B0E-11D9-9DC9-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/Python Django.tmbundle</string>
			<key>updated</key>
			<date>2014-09-04T04:17:46Z</date>
			<key>uuid</key>
			<string>04734303-952E-44C6-BC53-650D4409E3BE</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/R.tmbundle</string>
			<key>updated</key>
			<date>2020-01-30T03:50:23Z</date>
			<key>uuid</key>
			<string>B29D7850-6E70-11D9-A369-000D93B3A10E</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Other</string>
			<key>path</key>
			<string>Bundles/Regular Expressions.tmbundle</string>
			<key>updated</key>
			<date>2014-06-18T08:57:28Z</date>
			<key>uuid</key>
			<string>57D5EDA2-A531-11D9-917B-000D9332809C</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Testing</string>
			<key>path</key>
			<string>Bundles/RSpec.tmbundle</string>
			<key>updated</key>
			<date>2017-09-02T13:20:48Z</date>
			<key>uuid</key>
			<string>4CEA47CC-2C3A-45FB-80BE-3820828227C2</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/Ruby.tmbundle</string>
			<key>updated</key>
			<date>2019-08-03T22:25:52Z</date>
			<key>uuid</key>
			<string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/Ruby on Rails.tmbundle</string>
			<key>updated</key>
			<date>2019-02-20T04:02:21Z</date>
			<key>uuid</key>
			<string>467A60E0-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/Ruby Sass.tmbundle</string>
			<key>updated</key>
			<date>2016-08-15T00:45:55Z</date>
			<key>uuid</key>
			<string>176253C8-5D97-4C20-AA34-3BE8BC73FBC9</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/Rust.tmbundle</string>
			<key>updated</key>
			<date>2019-09-18T16:29:13Z</date>
			<key>uuid</key>
			<string>06794A1F-20AC-457C-AD92-A4A8EF83EB0E</string>
		</dict>
		<dict>
			<key>category</key>
			<string>SCM</string>
			<key>path</key>
			<string>Bundles/SCM.tmbundle</string>
			<key>updated</key>
			<date>2014-08-15T21:14:17Z</date>
			<key>uuid</key>
			<string>3BDF79F4-94AE-46C0-BFBF-D5572AD2F515</string>
		</dict>
		<dict>
			<key>category</key>
			<string>SCM</string>
			<key>path</key>
			<string>Bundles/SCM Diff Gutter.tmbundle</string>
			<key>updated</key>
			<date>2018-11-19T11:42:06Z</date>
			<key>uuid</key>
			<string>7A84ECFC-2683-4129-826D-51F05F7E668A</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/Shell Script.tmbundle</string>
			<key>updated</key>
			<date>2018-03-09T12:06:32Z</date>
			<key>uuid</key>
			<string>4694B05E-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Other</string>
			<key>path</key>
			<string>Bundles/Source.tmbundle</string>
			<key>updated</key>
			<date>2019-07-01T13:39:20Z</date>
			<key>uuid</key>
			<string>4F45FDC0-62CA-4786-9134-8BC7C1F5606F</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/SQL.tmbundle</string>
			<key>updated</key>
			<date>2016-01-10T23:15:00Z</date>
			<key>uuid</key>
			<string>AAB4CBF7-73F9-11D9-B89A-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/SSH Config.tmbundle</string>
			<key>updated</key>
			<date>2018-10-10T01:20:04Z</date>
			<key>uuid</key>
			<string>7A3C2CE9-C65D-4116-92B7-F10D684B1ED6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>SCM</string>
			<key>path</key>
			<string>Bundles/Subversion.tmbundle</string>
			<key>updated</key>
			<date>2016-08-31T04:48:51Z</date>
			<key>uuid</key>
			<string>AEAF4DD4-74CD-11D9-BAD4-000A95A89C98</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>isDependency</key>
			<true/>
			<key>path</key>
			<string>Bundles/Swift.tmbundle</string>
			<key>updated</key>
			<date>2019-08-26T22:00:11Z</date>
			<key>uuid</key>
			<string>D08F016D-1D07-4BD8-8339-9AB5D151DF31</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/Tcl.tmbundle</string>
			<key>updated</key>
			<date>2013-08-08T04:35:38Z</date>
			<key>uuid</key>
			<string>49882962-7CB7-11D9-875B-000A95E13C98</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/Terraform.tmbundle</string>
			<key>updated</key>
			<date>2017-05-15T04:43:37Z</date>
			<key>uuid</key>
			<string>19FB3BCA-1F8A-432D-B201-DE249A121059</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Other</string>
			<key>path</key>
			<string>Bundles/Text.tmbundle</string>
			<key>updated</key>
			<date>2019-08-07T13:57:43Z</date>
			<key>uuid</key>
			<string>B7BC3FFD-6E4B-11D9-91AF-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Other</string>
			<key>path</key>
			<string>Bundles/TextMate.tmbundle</string>
			<key>updated</key>
			<date>2016-09-25T07:40:00Z</date>
			<key>uuid</key>
			<string>5A9D4FC6-6CBE-11D9-A21B-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Themes</string>
			<key>path</key>
			<string>Bundles/Themes.tmbundle</string>
			<key>updated</key>
			<date>2018-11-22T15:57:11Z</date>
			<key>uuid</key>
			<string>A4380B27-F366-4C70-A542-B00D26ED997E</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Other</string>
			<key>path</key>
			<string>Bundles/TODO.tmbundle</string>
			<key>updated</key>
			<date>2014-10-07T19:28:02Z</date>
			<key>uuid</key>
			<string>0B296803-7D51-11D9-859D-000D93B6E43C</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/TOML.tmbundle</string>
			<key>updated</key>
			<date>2020-07-14T05:20:08Z</date>
			<key>uuid</key>
			<string>13A041AB-28AA-4170-8DCE-912B90E11C35</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Other</string>
			<key>path</key>
			<string>Bundles/Vagrant.tmbundle</string>
			<key>updated</key>
			<date>2015-08-01T10:55:26Z</date>
			<key>uuid</key>
			<string>62385B90-7E47-4D43-B44D-63B0BC00FAD3</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>isDependency</key>
			<true/>
			<key>path</key>
			<string>Bundles/VHDL.tmbundle</string>
			<key>updated</key>
			<date>2017-05-28T01:50:31Z</date>
			<key>uuid</key>
			<string>F5351E61-488E-44A5-BF0B-02FED526B641</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Build</string>
			<key>path</key>
			<string>Bundles/Xcode.tmbundle</string>
			<key>updated</key>
			<date>2014-06-18T08:57:31Z</date>
			<key>uuid</key>
			<string>D619CB94-53ED-41C5-963B-401492CE2602</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>path</key>
			<string>Bundles/XML.tmbundle</string>
			<key>updated</key>
			<date>2018-07-04T22:05:16Z</date>
			<key>uuid</key>
			<string>4694D53F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages</string>
			<key>isDependency</key>
			<true/>
			<key>path</key>
			<string>Bundles/YAML.tmbundle</string>
			<key>updated</key>
			<date>2016-11-02T10:57:03Z</date>
			<key>uuid</key>
			<string>AC506ECC-4F1F-11DA-AFF2-000A95AF0064</string>
		</dict>
	</array>
</dict>
</plist>
